th,td,form{
    vertical-align: center;
    text-align: center;
    padding-left: 0.5cm;
    text-decoration: underline
}
h1{
    text-decoration: underline;
    text-align: center;
    color: rgb(16, 105, 156);  
}
h5{
    text-align: left;
    padding: 0.5em;
}

mark{
    padding: 0em;
    background-color: rgb(198, 70, 35);
    color:rgb(49, 25, 21)
}

.navbar-brand{
    border: 4.5px solid rgb(219, 97, 97);
    padding-bottom: 0cm;
    padding-top: 0cm;
    padding-left: 0.1cm;
    padding-right: 0.1cm;
    font-style: italic;
}

.navbar-light .navbar-brand{
    color:rgb(220, 127, 80);
}

.bg-primary{
    background-color: rgb(12, 80, 175) !important;
}

.navbar-light .navbar-nav .nav-link{
    color:rgb(220, 127, 80) !important;
    text-decoration: underline;
}