th,td,form{
    vertical-align: center;
    text-align: center;
    padding-left: 0.5cm;
    text-decoration: underline
}
h1{
    text-decoration: underline;
    text-align: center;
    padding-left: 0.5cm;
    color: rgb(16, 105, 156);  
}
